
<h2>Ajax</h2>
<button id="ldtBtn">LOad</button>
<button id="rstBtn">reset</button>
<img id="lnImg" src="~/Content/Images/Image-loader/ajax-loader.gif" style="display:none;" />
<div id="msgloadinDiv">

</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $('#ldtBtn').click(function (e) {
        $('#lnImg').show();
        $.ajax({
            type: "POST",
            url: "/Ajax/ajaxCall",
            data: null,
            success: function (data) {
                $('#msgloadinDiv').html(data.message);
                $('#lnImg').hide();
            },
            error: function () {
                alert("sth went wrong in controller")
            }

        });
    });
    $('#rstBtn').click(function (e) {
        $('#msgloadinDiv').html('');
    });

</script>

